$color__primary: #243462;
$color__primary--dark: #1d2a4f;
$color__primary--light: #334a8f;
$color__primary--pale: #556baa;
$color__onPrimary: #ffffff;

$color__secondary: #f64146;
$color__secondary--dark: #ac2d31;
$color__secondary--light: #f7676b;
$color__secondary--pale: #f88588;
$color__onSecondary: #ffffff;

$color__neutral: #b0b4c0;
$color__neutral--dark: #999999;
$color__neutral--light: #e2e5ec;
$color__neutral--pale: #e7eaef;
$color__onNeutral: #000000;

$color__background: #ffffff;
$color__onBackground: #000000;

$color__surface: #eff1f6;
$color__onSurface: #000000;

$color__error: #b00020;
$color__onError: #ffffff;

$height__App__Header: 60px;
$marginTop__App__Content: 10px;
$marginBottom__App__Content: 10px;
