.ProgressBar {
  &__ProgressIndicator {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: $color__primary--light;
    color: $color__onPrimary;
    height: 100%;
    min-width: 42px;
    border-radius: inherit;
    transition: width 0.2s ease-in;

    &--running {
      &::after {
        content: '';
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color__onPrimary;
        border-radius: $borderRadius__ProgressBar;
        animation: runningProgressIndicator 1.5s ease infinite;
      }
    }
  }

  &__ProgressPercentageLabel {
    padding: 0 10px 0 10px;
  }
}

@keyframes runningProgressIndicator {
  0% {
    opacity: 0.3;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}
