.Example {
  width: 60vw;
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &Label {
      flex: 10%;
      padding-right: 10px;
    }
  }

  &__ResetButton {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .Example {
    width: 80vw;
  }
}

@media (max-width: 700px) {
  .Example {
    width: 100vw;
  }
}
