.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 15px;
  font-size: 0.95 * $fontSize__Typography;
  font-weight: 400;
  line-height: 0.6 * $lineHeight__Typography;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: $color__onPrimary;
  transition: color 0.3s;

  &:hover {
    color: $color__secondary;
    outline: none;
  }

  &:active {
    outline: none;
  }
}
